# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lenovo\Desktop\OTROS\CJAVA-MEMBRESIA\PROGRAMMER\IdeaProjects\Practica 04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
